.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header {
    border-bottom: 1px solid black;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
}

.left-align {
    display: flex;
    align-items: center;
}

.logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-align {
    display: flex;
    align-items: center;
}

.right-align a {
    margin-left: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.search-container input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

#map {
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    width: 100%;
    border: #000;
}

.custom-infowindow {
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #fff; 
    background-color: #000;
    border: 1px solid #000; /* Bordure noire */
}

/* Couleur pour les villes qui parlent portugais */
.custom-infowindow.pt {
    background-color: #1e90ff; /* Bleu */
    border: 1px solid #1c86ee;
}

/* Couleur pour les villes qui parlent français */
.custom-infowindow.fr {
    background-color: #e71a1a; /* Rouge */
    border: 1px solid #db0470;
}

/* Couleur pour les villes qui parlent espagnol */
.custom-infowindow.es {
    background-color: #ffcc00; /* Jaune */
    border: 1px solid #ffcc00;
}

/* Couleur pour les villes qui parlent italien */
.custom-infowindow.it {
    background-color: #32cd32; /* Vert */
    border: 1px solid #2eb82e;
}

/* Assurez-vous que le contenu de la pop-up utilise la couleur de fond */
.custom-infowindow * {
    background-color: inherit !important;
    color: inherit !important;
    border: none !important;
}

/*page inscription*/

.form-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
  }
  
  .form-container h2 {
    margin-top: 0;
  }
  
  .form-container label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button,
  .form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0055A4; /* Bleu */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container button:hover,
  .form-container input[type="submit"]:hover {
    background-color: #EF4135; /* Rouge */
  }
  
/* Page qui sommes nous */
.contenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nous4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nous_images {
    height: 280px;
    width: 280px;
}

.cadre_apropos {
    border: solid rgb(36, 36, 36) 2px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    background-color: rgb(163, 162, 162);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

/* Page du français */
/* titre de la page */
.titre {
    display: flex;
    justify-content: center;
}

/* Tuiles du français */
#tuiles_conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tuiles {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image_tuile {
    height: 200px;
    width: 350px;
    border: solid black 1px;
}

/* Menu avec les buttons */
#menu {
    margin: 0;
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    height: 50px;
    margin: 5px;
    background-color: white;
    font-size: 20px;
    border-radius: 15px;
}

#esp {
    border: solid rgba(255, 0, 0, 0.647) 3px;
    color: rgba(255, 0, 0, 0.647);
}

#ita {
    border: solid rgba(0, 128, 0, 0.768) 3px;
    color: rgba(0, 128, 0, 0.768);
}

#por {
    border: solid gold 3px;
    color: gold;
}

/* changer la couleur de la langue seléctionnée */
#fra {
    border: solid rgba(0, 0, 255, 0.668) 3px;
    background-color: rgba(0, 0, 255, 0.668);
    color: white;
}
/* fin du menu avec le buttons */

/* Page de Marseille - à adapter pour les autres pages */
.accentContainer {
    margin: 20px;
}

.informations {
    display: grid;
    justify-items: center;
}

.imageMarseille1 {
    width: 370px;
    height: 310px;
    float: left;
    margin-right: 20px;
}

.autresRessources {
    background-color: rgba(255, 0, 0, 0.338);
}

.ressourcesContenu {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.bodyMarseille {
    padding: 0px;
    margin: 0px;
}

/* Paris */

.imageParis1 {
    width: 370px;
    height: 310px;
    float: right;
    margin-right: 20px;
}

.imageMontreal1 {
    width: 370px;
    height: 310px;
    float: left;
    margin-right: 20px;
}
